.rute-container {
  color: #fff;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  max-width: 1200px;
  margin: 0 auto;
}

.rute-link {
  margin-top: 50px;
  padding: 0 40px;
  display: flex;
  align-items: center;
  justify-content: left;
}

.link-dom {
  text-decoration: none;
  color: #fff;
  transition: 0.3ms;
}

/*
|--> Estilos del icono GoHome
*/

.rute-link svg {
  width: 24px;
  height: 24px;
  color: #fff;
  cursor: pointer;
}

.rute-link p {
  font-size: 16px;
  margin: 2px 0 0 6px;
  cursor: pointer;
  border-bottom: 0.5px solid transparent;
}

.rute-link p:hover {
  border-bottom: 0.5px solid #fff;
}

.rute-link .signo:hover {
  border-bottom: 0.5px solid transparent;
}

.title-rute {
  margin-top: 90px;
  text-align: center;
  font-size: 65px;
  font-weight: 700;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}
