.services-container {
  margin: 0 auto;
  margin-top: 520px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
  grid-gap: 35px;
  padding: 20px;
  max-width: 1200px;
}

.service-card {
  background-color: #fff;
  height: 300px;
  border: 1px solid #ddd;
  padding: 20px;
  text-align: center;
  border-radius: 0 0 50px 0;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}

.service-card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.teste {
  width: 100px;
  height: 100px;
  margin: 0 auto;
  margin-bottom: 18px;
}

.service-card .icon-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #158ee2;
  border-radius: 50%;
}

.service-card svg {
  color: #fff;
  width: 48px;
  height: 48px;
}

.service-card h3 {
  margin: 10px 0;
  color: #58585a;
  font-size: 25px;
  font-weight: 700;
}

.service-card p {
  color: #58585a;
}
